<div ng-controller="messageDetail">
  <div>
    <h2 style="text-align:center;margin-top:40px">Message</h2>
    <table class="messageTable table">
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
          </td>
          <td style="text-align:right"><img class="message" src="reply.png" ng-click="reply()"></td>
          <td style="text-align:center"><img class="message" src="delete.png" ng-click="detele()"></td>
        </tr>
        <tr>
          <td>{{message.title}}</td>
          <td></td>
          <td colspan="2" style="text-align:right">{{message.created_at}}</td>
          <td style="text-align:center">
            <img class="importantIcon" src="clicked.png" ng-if="isImportant(message)" ng-click="flag(message.id, $event)">
            <img class="importantIcon" src="unclicked.png" ng-if="!isImportant(message)" ng-click="flag(message.id, $event)">
          </td>
        </tr>
        <tr><td colspan="5">From: {{message.sender}}</td></tr>
        <tr><td colspan="5">To: {{message.recipient}}</td></tr>
        <tr><td colspan="5">{{message.description}}</td></tr>
      </tbody>
    </table>
    
    <form ng-show="reply">
      <input type="text">
    </form>
  </div>

</div>