.link {
  color:white;
  font-size:20px;
}

.icon {
  display:block;
  margin: 20px auto;
  width:150px;
  height:150px;
}

.messageTable {
  margin-top:50px;

}

.important {
  text-align:center;
}

.message {
  width:24px;
  height:24px;
}

.importantIcon {
  width:18px;
  height:23px;
}